

.UpcomingMovies{

    background-color: #ff9999;
    padding: 8px  8px 8px 8px;
    text-align: center;
    font-size: 1rem;
}

		body {
			margin: 0;
		}

		/* Adding scroll snap type mandatory
		and scoll direction to y axis*/
		.container {
			scroll-snap-type: y mandatory;
			overflow-y: scroll;

			/* 100% height of the viewport */
			height: 100vh;
		}

		/* Adding general css to box and
		aligning snap to start */
		.box {
			height: 100vh;
			color: #fff;
			text-align: center;
			line-height: 100vh;
			font-size: 5rem;
			scroll-snap-align: start;
		}

		/* Setting different colors to all boxes */
		.box:nth-child(1) {
			background: #5e38ff;
		}
		
		.box:nth-child(2) {
			background: #fe802b;
		}
		
		.box:nth-child(3) {
			background: #00bf71;
		}
	


	<div class="container">
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
	
</div>